<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar-options">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'application' class="navbar-brand"}}
          Anovelmous
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="navbar-options">
      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a>
              {{view "select"
                value=selectedNovel
                contentBinding="novels"
                prompt="Novels"
                optionLabelPath="content.title"
                optionValuePath="content"
                class="navbar-dropdown"}}
            </a>

        </li>

        {{#link-to 'archive' tagName='li'}}
          <a {{bind-attr href='view.href'}}>
              Archive
          </a>
        {{/link-to}}
      </ul>
    </div>
  </div>
</nav>
