@import 'variables';

.live-input {
  max-width: 10em;
  border-color: $brand-info;
}

.live-input .error {
  border-color: $brand-danger;
}

.live-input .voted {
  border-color: $brand-primary;
}

.live-input .success {
  border-color: $brand-success;

}

.live-input .failure {
  border-color: $brand-warning;

}
