{{#each}}
    <p>
        {{text}}
    </p>
{{/each}}
<div class="large-10 medium-10 small-8 columns">
    <div class="row">
        <form id="vote-form" method="post">
            <label for="vote">Vote: </label>
            <input id="vote" type="text" name="vote">
        </form>
    </div>
</div>