<ul class="off-canvas-list">
    <li>
        <label>Let's write together.</label>
    </li>
    <li>
        <a href="#">
            Contribute
            <i class="fi-page-edit"></i>
        </a>
    </li>
    <li class="has-submenu">
        <a href="#">
            Table of Contents
            <i class="fi-book"></i>
        </a>
        <ul class="left-submenu">
            <li class="back">
                <a href="#">Back</a>
            </li>
        </ul>
    </li>
    <li class="has-submenu"><a href="#">Account</a>
        <ul class="left-submenu">
            <li class="back">
                <a href="#">Back</a>
            </li>
            <li>
                <a href="#">Stats</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            Archive
            <i class="fi-torso"></i>
        </a>
    </li>
</ul>